<form action ='/add' method="post">
  <fieldset>
    <legend>Entrada</legend>
    <input type="week" name="week" id="camp-week"
       min="2018-W18" max="2018-W26" required>
    <input type="number" name="entrada" placeholder="ENTRADA">
    <input type="number" name="saida" placeholder="SAIDA">
    <input type="number" name="total" placeholder="TOTAL" disabled>
    <input type='submit' value="GO">
  </fieldset>
</form>
