{{#extend "head"}}
    <link rel="stylesheet" href="css/list.css"/>
{{/extend}}


{{#each entrada}}
  <div class="entrada-div">
    <div>{{../day}}</div>
    <div>{{../entrada}}</div>
    <div>{{../saida}}</div>
    <div>{{../lucro}}</div>
  </div>
{{/each}}


